# Ignorer les fichiers temporaires de l'éditeur
*.tmp
*.swp

# Ignorer les fichiers de log
*.log

# Ignorer les dossiers de dépendances
node_modules/

# Ignorer les fichiers de configuration locaux
.env

# Ignorer les fichiers générés automatiquement
build/
dist/
